<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTIN WEB - Inicio</title>
    <link href="https://riclandb.riclan.com.br/cdn/css/bootstrap.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100" style="background: #343a40 !important; ">
    <header>
        <nav  style="background: black !important; " class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container-fluid">
                <img width="64" src="https://riclandb.riclan.com.br/cdn/images/logoPNG.png" alt="Logo">
                <a class="navbar-brand" style="padding-left: 15px;">GTIN Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/listagem">Listagem</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0" style="padding: 60px 15px 0;">
        <div class="p-2">
            <h2 class="text-white">Lista de Alterações</h2>
            <div class="bg-light border border-secondary p-2 rounded">
                <h3>15/08/24</h3>
                <p>
                    + Tabela de Logs
                    <br>+ Coluna de CEST adicionada a listagem de produtos
                    <br>+ Possibilidade de exportar para Excel
                    <br>~ Corrigido bug nos checkboxes ao re-exibir os produtos
                </p>
            </div>
        </div>
    </main>

    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://chamados.riclan.com.br/glpi" target="_blank" class="nav-link px-2" style="color: #93989d;">Chamados T.I</a></li>
            <li class="nav-item"><a href="https://riclandb.riclan.com.br/riclan/open.do?sys=MCP" target="_blank" class="nav-link px-2" style="color: #93989d;">Central Portais</a></li>
          </ul>
          <p class="text-center text-white">© 2024 Gabriel</p>
        </footer>
      </div>
</body>
</html>